.roll {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1rem;              /* lock height to text */
  text-decoration: none;    /* remove underline */
}

.text {
  color: var(--foreground);
  text-decoration: none;
  font-size: .88rem;
  letter-spacing: -0.032rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 600;
}

.roll .text {
  display: block;
  transition: transform 0.4s ease;
}

.roll .text:nth-child(1) {
  transform: translateY(0%);
}

.roll .text:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.roll:hover .text:nth-child(1) {
  transform: translateY(-100%);
}

.roll:hover .text:nth-child(2) {
  transform: translateY(0%);
}

