

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6rem;
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 15;
}

.comma {
  color: var(--foreground);
  font-weight: 600;
  margin-right: 0.5rem;
}

.logo {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.logo p {
  color: var(--foreground);
  font-size: 3rem;
  font-weight: bold;
}

.oh-navbar-links {
  display: flex;
  align-items: center;
}

